body{
    overflow-x: hidden; /*prevent horizontal scrolling*/
}

#bg1{
    background-image: url('https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?cs=srgb&dl=pexels-hillaryfox-1595385.jpg&fm=jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

/* media queries for mobile responsive */
@media (max-width:768px){
    .row{
        flex-direction: column;
    }
    /* stack column vertically */
    .col-4, .col-6, .col-3{
        width: 100%;  /* full width for mobile */
        margin-bottom: 20px; /* space btw stacked elements */
    }
    /*  */
    img{
        width: 100%; /* responsive images */
        height: auto; /* maitain aspect ratio */
    }
    .box{
        padding: 20px;
    }
    h3, h4{
        font-size: 1.5em;
    }
}